<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="umbracoDbDSN" value="datalayer=SQLCE4Umbraco.SqlCEHelper,SQLCE4Umbraco;data source=bin\Umbraco.sdf" />
      <add key="umbracoConfigurationStatus" value="4.8.0" />
      <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx,~/VSEnterpriseHelper.axd" />
      <add key="umbracoReservedPaths" value="~/umbraco,~/install/" />
      <add key="umbracoContentXML" value="~/App_Data/umbraco.config" />
      <add key="umbracoStorageDirectory" value="~/App_Data" />
      <add key="umbracoPath" value="~/umbraco" />
      <add key="umbracoEnableStat" value="false" />
      <add key="umbracoHideTopLevelNodeFromPath" value="true" />
      <add key="umbracoEditXhtmlMode" value="true" />
      <add key="umbracoUseDirectoryUrls" value="true" />
      <add key="umbracoDebugMode" value="false" />
      <add key="umbracoTimeOutInMinutes" value="20" />
      <add key="umbracoVersionCheckPeriod" value="7" />
      <add key="umbracoDisableXsltExtensions" value="true" />
      <add key="umbracoDefaultUILanguage" value="en" />
      <add key="umbracoProfileUrl" value="profiler" />
      <add key="umbracoUseSSL" value="false" />
      <add key="umbracoUseMediumTrust" value="false" />
      <!-- 
        Set this to true to enable storing the xml cache locally to the IIS server even if the app files are stored centrally on a SAN/NAS 
        Alex Norcliffe 2010 02 for 4.1
      -->
      <add key="umbracoContentXMLUseLocalTemp" value="false" />
      <!-- Added in Umbraco 4.6.2 -->
      <add key="webpages:Enabled" value="false" />
      <add key="enableSimpleMembership" value="false" />
      <add key="autoFormsAuthentication" value="false" />
      <!-- End of added in Umbraco 4.6.2 -->
    </appSettings>
  
    <system.web>
      <!-- Membership Provider -->
      <membership defaultProvider="UmbracoMembershipProvider" userIsOnlineTimeWindow="15">
        <providers>
          <clear />
          <add name="UmbracoMembershipProvider" type="umbraco.providers.members.UmbracoMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" defaultMemberTypeAlias="Another Type" passwordFormat="Hashed" />
          <add name="UsersMembershipProvider" type="umbraco.providers.UsersMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" passwordFormat="Hashed" />
        </providers>
      </membership>
      <!-- added by NH to support membership providers in access layer -->
      <roleManager enabled="true" defaultProvider="UmbracoRoleProvider">
        <providers>
          <clear />
          <add name="UmbracoRoleProvider" type="umbraco.providers.members.UmbracoRoleProvider" />
        </providers>
      </roleManager>
    </system.web>
</configuration>
